<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier une catégorie</title>
</head>
<body>
<h2>Modifier une catégorie</h2>
<form action="/categories/edit_category/${category.id}" method="post"> <!-- Utilisation de l'ID de la catégorie dans l'URL -->
    <input type="hidden" name="id" th:value="${category.id}">
    <label>Nom:</label>
    <input type="text" name="name" th:value="${category.name}"><br>
    <labael>Référence:</labael>
    <input type="text" name="reference" th:value="${category.reference}"><br>
    <label>Quantité:</label>
    <input type="number" name="quantity" th:value="${category.quantity}"><br>
    <labael>Description:</labael>
    <textarea id="description" name="description" th:value="${category.description}"></textarea><br>
    <label for="photo">Photo:</label><br>
    <input type="file" id="photo" name="photo"th:value="${category.photo}"><br><br>
    <labael>Nom Image:</labael>
    <input type="text" name="nomPhoto" th:value="${category.nomPhoto}"><br>
    <input type="submit" value="Enregistrer">
</form>
<a href="/categories/list_category">Retour à la liste des catégories</a>
</body>
</html>
