<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit User</title>
    </head>
    <body>
    <h1>Edit User</h1>
    <form action="/users/edit" method="post">
        <input type="hidden" name="userId" value="1"> <!-- Hidden field for user ID -->
        <label for="userName">Username:</label><br>
        <input type="text" id="userName" name="userName"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" ><br>
        <label for="actived">Active:</label><br>
        <input type="checkbox" id="actived" name="actived" checked><br>
        <button type="submit">Update User</button>
    </form>
    </body>
    </html>

